
nav * {
    color: white;
}

nav {
    background-color: black;
    width: 100%;
    padding: 10px 10px 10px 10px;

}

nav a {
    border-right: 1px solid white;
    padding: 20px;
    text-decoration: none;
}

#search-bar {
    float: right;
    padding-right: 10px;
}

#logo div {
    float: left;
    width: 15px;
    font-weight:bold;
    color: black;
    background-color: white;
    margin: 2px;

}

#welcome-msg {
    display: inline;
    float: left;
    margin-left: 1.5%;
}

#date-display {
    display: inline;
    float:right;
}

img {
    width: 200px;
    height: 200px;
}

#main-stories {
    clear: both;
    margin: 0% 1.5% 0% 15%;

}

#main-stories #main-image {
    width: auto;
    height: 404px;
}

#hero-story {
    float: left;
}   

.side-stories {
    float: left;
    margin-left: 10px;
   
}

#news-reel {
    clear:both;
    margin-left: 15%;
}

#news-reel img {
    width: 100%;
    height: 100%;
}

.reel-story {
    float: left;
    width: 30%;
    height: auto;
    
}








